body {
    margin: 0;
}

header {
    background-color: #1f2937;
    width: 100%;
    color: antiquewhite;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.megamenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}

h1 {
   
}

.opciones {
    margin: 15px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.izq {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.boton1 {
    background-color: #3882f6;
    padding: 5px;
    color: antiquewhite;
    border-radius: 10px;
}

#rectangle1 {
    width:500px;
    height:200px;
    background:blue;
}

.medio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info {
   
    margin: 20px;
}

.cuadrados {
   display: flex;
   flex-direction: row;
}

#rectangle2 {
    width: 200px;
    height: 100px;
    background: #1f2937;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 200px;
    padding: 30px;
}

.inspiring {
    font-size: 20px;
    color: antiquewhite;
    margin-right: auto;
}

.autor {
    margin-left: auto;
}
