body {
    margin: 0;
   
}

header {
    height: 435px;
    background-color: #1f2937;
    width: 100%;
    color: antiquewhite;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.megamenu {
    height: 85px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 0 90px;
}

.links {
    display: flex;
}


.opciones {
    margin: 15px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 50px;
    margin-bottom: 50px;
}

.izq {
    width: 350px;
    height: 250px;
    margin-right: 50px;
}

.boton1 {
    height: 40px;
    width: 100px;
    background-color: #3882f6;
    padding: 5px;
    color: antiquewhite;
    border-radius: 10px;
}

#rectangle1 {
    width:500px;
    height:250px;
    background:blue;
}

.medio {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 33px;
}

h2 {
    font-size: 40px;
}

.cuadrados {
   display: flex;
   flex-direction: row;
   gap: 60px;
   justify-content: center;
   
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 158px;
    gap: 10px;
}

#rectangle2 {
    width: 150px;
    height: 150px;
    background: #ffffff;
    border: 4px solid;
    border-color: #3882f6;
    border-radius: 10px;
    flex-shrink: 0;
}

.quote {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 224, 224);
    flex-direction: column;
    
}

.inspiring {
    width: 600px;
    font-size: 50px;
    color: rgb(202, 142, 63);
}

.autor {
    margin-left: 400px;
}

.final {
    height: 400px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.calltoaction {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 800px;
    background-color: #3882f6;
    color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
}

.ulttext, h3 {
    margin: 0;
    font-size: 20px;
}


.boton2 {
    height: 40px;
    width: 100px;
    background-color: #3882f6;
    padding: 5px;
    color: antiquewhite;
    border-radius: 10px;
    border-color:#ffffff;
    font-size: 15px;
}

.textoaction {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #1f2937;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    padding: 40px;
    
}
